<div class="main">

  <div *ngIf="apiReponse && ! apiReponse.success" class="alert alert-warning alert-dismissible fade show">
    <strong>Error!</strong> {{apiReponse.message}}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>

  <form #f="ngForm" [formGroup]="productForm" (ngSubmit)="onFormSubmit(productForm.value)">
  <div class="product-info" >

  <div class="left">
 
      <label class="xform-control left-title">Title</label>  <!--  - {{title.invalid}} -- {{title.dirty}} --- {{title.touched}} -->
      <input type="text" formControlName="title" class="form-control" /> <!--#inputControlNameThatCanBeAnything (change)="onChange(inputControlNameThatCanBeAnything.value)">-->
      <div *ngIf="title.invalid  && (title.dirty || title.touched)" class="alert alert-danger">Title is required</div>

      <label class="xform-control left-title">Price</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input type="text" formControlName="price" class="form-control" aria-label="Amount (to the nearest dollar)">
      </div>
      <div *ngIf="price.invalid  && (price.dirty || price.touched)" class="alert alert-danger">
        <div *ngIf="price.errors.required">Price is required</div>
        <div *ngIf="price.errors.pattern">Price must be a valid monetary value</div>
        <div *ngIf="price.errors.min">Price must be a non negative number</div>
      </div>

      <label class="xform-control left-title">Category</label>
      <select formControlName="category" class="form-control">
        <option *ngFor="let product of getProducts()" [value]="product.category">{{product.category}}</option>
      </select>
      <div *ngIf="category.invalid  && (category.dirty || category.touched)" class="alert alert-danger">Category is required</div>

      <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Categories
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button *ngFor="let product of getProducts()" class="dropdown-item" type="button"
            [ngValue]="product">{{product.category}}</button>
        </div>
      </div> -->

      <label class="xform-control left-title">Image URL</label>
      <input type="text" formControlName="imageUrl" class="form-control" (change)="onImageChange()">
      <div *ngIf="imageUrl.invalid  && (imageUrl.dirty || imageUrl.touched)" class="alert alert-danger">Image URL is required</div>
      <div *ngIf="imageUrl.invalid  && (imageUrl.dirty || imageUrl.touched)" class="alert alert-danger">
        <div *ngIf="imageUrl.errors.required">Image URL is required</div>
        <div *ngIf="imageUrl.errors.invalidImageNameType">Image must be an jpg or gif</div>
      </div>


 
  </div>

  <div class="right">
    <img src={{product?.imageUrl}} class="image"/>

    <div class="right-below">
      <label class="xform-control title">{{product?.title}}</label>
      <br>
      <label class="xform-control normal">${{product?.price}}</label>
    </div>

  </div>

</div>

  <div>
    <div class="" >
      <button type="submit" class="btn btn-primary form-button" >Save</button>
      <a type="button" class="btn btn-danger form-button " (click)="deleteProduct()" [hidden]="this.productId == 0">Delete Product : {{this.productId}}</a> 
      <a type="button" class="btn btn-secondary form-button " (click)="cancel()" >Cancel</a> 
    </div>
  </div>

</form>


</div>