<form #f="ngForm" (ngSubmit)="login(f.value)" class="form-signin">

    <h2>Enter User name and Password</h2>

    <label for="UserNameId" class="form-control">User Name</label>
    <input ngModel id="UserNameId" name="username" type="text" placeholder="User name" required autofocus class="form-control">

    <label for="PasswordId"  class="form-control">Password</label>
    <input ngModel id="PasswordId" name="password" type="password" placeholder="" required class="form-control">

    <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>

</form>