
.logo-icon {
    color: red;
}

.active-link {
    color: green;
}

.dropdown-toggle {
    cursor: pointer;
}

.cart-container {
    display:flex; 
    align-items: center;
}

.cart-container-count {
    background-color: darkgoldenrod; 
    height: 0%; 
}

.dropdown-item.active, .dropdown-item:active {
    background-color: lightgrey; color: black;
}