<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">

    <fa-icon [icon]="faCoffee" class="logo-icon"></fa-icon>
  
      <!-- Brand -->
      <a class="navbar-brand" href="#">Logo</a>
    
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <div class="cart-container">
            <a class="nav-link" routerLink= "/shopping-cart" routerLinkActive="active-link">Shopping Cart</a>
            <span class="badge badge-light cart-container-count">{{shoppingCartCount}}</span>
        </div>
        </li>
    
        <div *ngIf="isLoggedIn">
            <!-- Dropdown -->
            <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                {{username}} ({{authService.currentUser.role}})
            </a>
            <div ngbDropdownToggleMenu class="dropdown-menu">
                <a class="dropdown-item" routerLink="/my-orders" routerLinkActive="active-link" >My Orders</a>
                <a class="dropdown-item" routerLink="/manage-orders" routerLinkActive="active-link" [hidden]="! isAdminUser()">Manage Orders</a>
                <a class="dropdown-item" routerLink="/manage-products" routerLinkActive="active-link" [hidden]="! isAdminUser()">Manage Products</a>
                <a class="dropdown-item" routerLink="/" (click)="logout()" routerLinkActive="active-link">Log Out</a>
            </div>
            </li>
        </div>
        <div *ngIf="! isLoggedIn">
            <li class="nav-item">
                <a class="nav-link" routerLink= "/ana/login" routerLinkActive="active-link">Login</a>
              </li>  
        </div>
        </ul>
        <label for="" style="color: red;">is logged in: {{isLoggedIn}}</label>
    </nav>