<div class="main" style="width:100%">
  <div class="card left">
    <ul class="list-group list-group-flush">
      <li *ngFor="let cat of categories" class="list-group-item" routerLinkActive="active-link"><a [routerLink]="['/']"
          [queryParams]="{category: cat}">{{cat}}</a></li>
    </ul>
  </div>
  <div class="right">
    <div class="card-group">
      <product-card *ngFor="let product of filteredProducts" [product]='product'>id {{product.id}} id</product-card> 
    </div>
  </div>
</div>